.noDataLabel {
	color: rgba(0, 0, 0, 0.233);
}

.tableWrap {
	width: 100vw;
	max-height: 90vh;
	overflow: auto;
}

table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	table-layout: auto;
}

thead th {
	position: sticky;
	top: 0;
	z-index: 1;
	white-space: nowrap;
}
tbody td{
	padding: 5px;
}
