.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 20px;
}
.container b {
  font-size: 18px;
}

.container div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.container button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.container p {
  margin: 0;
  font-size: 14px;
  color: var(--color-text-bg);
}
