.catsList {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  padding: 10px;
  margin-top: 80px;
}

@media (min-width: 680px) {
  .catsList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .catsList {
    grid-template-columns: repeat(3, 1fr);
  }
}

.listItem {
  list-style: none;
}
