.container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  border-bottom: 1px solid var(--color-border);
  width: 100%;
}

.input {
  height: 40px;
  padding: 0 24px;
  font-size: 16px;
  background-color: var(--color-bg-100);
  color: var(--color-text-bg);
  border: 1px solid var(--color-border);
  border-radius: 100px;
  outline: none;
  height: 46px;
  width: 40%;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease;
}
.button {
  height: 46px;
  padding: 10px;
}

.input:focus {
  border-color: var(--color-accent-1-100);
}
