#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

.userCards {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.userCard {
	text-align: center;
}

.buttons {
	display: flex;
	justify-content: space-around;
}
.uncontrolled {
	color: rgb(202, 92, 29);
}
.controlled {
	color: rgb(46, 194, 65);
}
