:root {
	--color-bg: #eff3eb;
	--color-font: #213547;
	--color-primary-100: #b9ddc5;
	--color-primary-200: #93d4a9;
	--color-primary-300: #71c58d;
	--color-primary-400: #48b16b;
	--color-primary-500: #3aa35d;
	--color-primary-600: #167e39;
	--color-secondary-500: #646cff;
	--color-secondary-600: #4f57e2;

	--font-fam: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: var(--color-bg);
	color: var(--color-font);
	font-family: var(--font-fam);
}

a {
	font-weight: 500;
	color: var(--color-secondary-500);
	text-decoration: inherit;
}
a:hover {
	color: var(--color-secondary-600);
}

body {
	margin: 0;
	max-width: 1280px;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: var(--color-primary-500);
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: var(--color-primary-600);
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

form {
	display: grid;
	gap: 1rem;
	font-family: system-ui, sans-serif;
}

label {
	display: block;
	font-weight: 500;
	margin-bottom: 0.25rem;
}

input,
select,
textarea {
	padding: 0.5rem 0.75rem;
	border: 1px solid #ccc;
	border-radius: 6px;
	font-size: 1rem;
	transition: border-color 0.2s, box-shadow 0.2s;
}

input:focus,
select:focus,
textarea:focus {
	outline: none;
	border-color: var(--color-primary-500);
}

input[type="radio"],
input[type="checkbox"] {
	width: auto;
	margin-right: 0.5rem;
}

table{
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	text-align: left;
	border-bottom: 1px solid var(--color-primary-300);
	height: auto;
}

th {
	background-color: var(--color-primary-500);
	color: white;
}

td:nth-child(even) {
	background-color: var(--color-primary-100);
}
