a {
  font-weight: 500;
  color: #5049b8;
  text-decoration: inherit;
  transition: all 0.25s ease-in-out;
}
a:hover {
  color: #646cff;
}

body {
  margin: 0;
  background: #292929;
  font-family: sans-serif;
  color: aliceblue;
}

h1 {
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #5049b8;
  cursor: pointer;
  color: aliceblue;
  transition: all 0.25s;
}
button:hover {
  background-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:disabled {
  background-color: #4e4e4e;
}

button:disabled:hover {
  background-color: #4e4e4e;
  cursor: not-allowed;
}
